.recents-title.violet
  %h1 Allegations
%hr.violet

/ {most-recent kind:Kind, count:10, template:blog-template}
{most-recent kind:Kind, count:10, template:blog-template}

:page_title: Courtroom Livestream



